
body {
    background-color: violet;
    margin: 0;
    font-family: Arial, sans-serif;
}
  .ProfileSection{
    display:flex ;
    justify-content: center;
    align-items: center;
    text-align: justify;


    }
      
  .pic img {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 15px;
  }
  
  
  .section {
    border: 1px solid rgb(10, 10, 29);
    background-color: brown;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin: 10px;
    padding: 20px;
    width: 320px;
    height: 650px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  
  .section:hover {
    transform: scale(1.05);
  }
  
  
  .section h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #fff; 
  }
  
  
  .section p {
    color: #eee; 
    margin: 5px 0;
  }
  